@font-face {
  font-family: 'PT-Root-UI';
  src: url('/fonts/PT-Root-UI-Regular.web/PT/PT/PT-Root-UI/PT-Root-UI_Regular.woff');
}

@font-face {
  font-family: 'PT-Root-UI-Bold';
  src: url('/fonts/PT-Root-UI-Bold.web/PT/PT/PT-Root-UI/PT-Root-UI_Bold.woff')
}

@import './normalize.scss';

body{
  width: 100%;
  font-family: "PT-Root-UI";
  -webkit-font-smoothing: antialiased;
  -moz-osk-font-smoothing: grayscale;
  position: relative;
  color: #333333;
  background-color: #F2F2F2 !important;
}

.container {
  max-width: 1920px;
  min-width: 1024px;
  margin-left: 77px;
  margin-right: 77px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main__title{
  font-family: 'PT-Root-UI-Bold';
  font-size: 35px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 19px;
}

.main__back {
  color: #065CC2;
  margin-top: 56px;
  margin-right: 128px;
}

.checkout {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
}

.dilivery {
  width: 64%;
  border-right: 1px solid #8C8C8C;
  padding: 0px 83px 0px 43px;
}
.receipt {
  width: 36%;
}

.checkout__title {
  font-family: 'PT-Root-UI-Bold';
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 700;
  font-size: 29px;
  line-height: 36,54px;
  margin-top: 40px;
  margin-bottom: 17px;
}

.arrows {
  display: flex;
}

.place {
  display: flex;
  width: 489px;
  padding: 20px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  margin-right: 14px;
  margin-bottom: 14px;

}

.place:last-child{
  margin-right: 0px;
}

.place--active {
  border: 2px solid #065CC2;
}

.place__title {
  font-family: 'PT-Root-UI-Bold';
  max-width: 364px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27,72px;
}

.place__text {
  font-family: 'PT-Root-UI';
  max-width: 360px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27,72px;
}

.place__price {
  font-weight: 400;
  font-size: 22px;
  margin-top: 42px;
  margin-left: 17px;
}

.new__text {
  font-weight: 400;
  font-size: 22px;
  color: #065CC2;
  margin-top: 14px;
}

.date {
  display: flex;
  margin-top: 30px;
  margin-bottom: 14px;
}

.date__block {
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  padding: 20px;
  margin-right: 14px;
}

.date__block:last-child{
  margin-right: 0px;
}

.date__title {
  font-family: 'PT-Root-UI-Bold';
  font-weight: 700;
  font-size: 22px;
}

.new__time {
  font-weight: 400;
  font-size: 22px;
  color: #065CC2;
  margin-top: 14px;
  margin-left: 16px;
}

// checkbox

.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

.cont input:checked ~ .checkmark {
  background-color: #065CC2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: block;
}

.cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select{
  font-weight: 700;
  font-size: 22px;
  border: none !important;
}

.select__container {
  padding: 8px 58px 12px 14px;
}

.select__name{
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  margin-right: 14px;
}

.select__number {
  padding: 8px 58px 12px 14px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
}

.select__title{
  font-family: 'PT-Root-UI-Bold';
  font-weight: 400;
  font-size: 17px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.payment__blocks {
  display: flex;
  margin-bottom: 50px;
}

.payment__block {
  background-color: #F8F8F8;
  color: #6E6E73;
  width: 50%;
  padding: 29px 20px 29px 20px;
  display: flex;
}

.payment__block:last-child{
  margin-right: 0;
}

.payment__block--white {
  background-color: #FFFFFF;
  border: 2px solid #065CC2;
}

.payment__title{
  font-family: 'PT-Root-UI-Bold';
  font-weight: 700;
  font-size: 22px;
  margin-right: 90px;
}

.payment__text {
  font-weight: 400;
  font-size: 22px;
}


.container__receipt {
  padding: 40px 86px 0px 50px;
}

.receipt__title {
  font-weight: 700;
  font-size: 29px;
  line-height: 36,54px;
  margin-bottom: 30px;
}

.receipt__kg {
  font-weight: 400;
}


.receipt__price{
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.receipt__price:last-child{
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #D6D6D6;
}

.receipt__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 27,72px;
  color: #333333;
}

.receipt__number {
  font-weight: 700;
  font-size: 22px;
  line-height: 27,72px;
}

.footer{
  margin-left: 0;
}

.footer__container {
  padding: 19px 84px 20px 43px;
  display: flex;
  width: 100%;
  background-color: #F8F8F8;
}

.btn {
  min-width: 298px;
  max-height: 37px;
  min-height: 37px;
  width: 298px;
  background-color: #EC0002;
  color: #FFFFFF;
  padding: 21px 50px 22px 50px;
  font-weight: 700;
  font-size: 29px;
  background-repeat: 4px;
}

.footer__content{
  max-width: 540px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21,42px;
  margin-left: 40px;
  margin-top: 9px;
  margin-bottom: 18px;
  margin-right: 40px;
}

.footer__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 27,72px;
  color: #333333;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 40px;  
}

.footer__number {
  min-width: 129px;
  font-family: 'PT-Root-UI-Bold';
  font-weight: 700;
  font-size: 35px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 40px;
}

.content__blue {
  text-decoration: none;
  color: #065CC2;
}


@media screen and (max-width: 1531px) {
  .flex {
    display: block;
  }
}

@media screen and (max-width: 1588px) {
  .container__receipt {
    padding: 20px 43px 0px 25px ;
  }
}

@media screen and (max-width: 1400px) {
  .container__receipt {
    padding: 4px 8px 0px 4px ;
  }
}